* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

#main {
    margin: 20px 5px;
    padding: 20px;
    text-align: center;
    background-color: #e5e5e5;
}

#main>h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 2.5rem;
    margin: auto;
    text-transform: uppercase;
}

#img-div {
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

#image {
    max-width: 100%;
}

#img-caption {
    margin: 10px;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: underline;
}

#tribute-info {
    font-size: 1rem;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;

}

#tribute-link {
    color: ba;
}

#tribute-history>h2 {
    margin: 50px 0;
    text-transform: uppercase;

}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

ul>li {
    margin: 20px 0;
    list-style: circle;
}

@media (max-width: 300px) {

    #main>h1,
    #img-caption,
    #tribute-history>h2 {
        font-size: 1rem;
    }

    #tribute-info {
        font-size: 0.7rem;
        width: 100%;
    }

    #tribute-history>h2 {
        margin: 20px 0;
    }

    ul>li {
        font-size: 0, 6rem;
    }
}